<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ありがとうございました</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main class="survey-card">

        <section class="complete" style="display:block;">
            <div class="complete-icon">🌸</div>

            <h2>ありがとうございました！</h2>

            <p>
                アンケートへのご協力<br>
                ありがとうございました。
            </p>
            
            <div class="contact-info">
                <p class="contact-name">
                榎本　実幸
                </p>

                <p class="contact-email">
                    miyuki.eno42@gmail.com
                </p>
            </div>

        </section>

    </main>
</body>
</html>
